@import url('https://fonts.googleapis.com/css2?family=Poppins|Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
body{
   background-color: black;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}
#header {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
  height: 4vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
 background-color: #052E39;
}
/**distance entre les sections gère elments section **/
/**card dans la section**/

.card {
  display: flex;
  justify-content: center;
  align-items: center;
   position:relative;

   height: 10px;
   color: rgb(255, 255, 255);
 background-color: #000000f6;
   box-shadow: 0 0 25px black;
   transition: 1.3s;
}
.card:hover{
   height: 570px;
   opacity: 1;

}
.imgBx{
   position: absolute;
   left: 50%;
   top:-50px;
   transform: translateX(-50%);

 color: white;
   border-radius: 30px;
   box-shadow: 0 15 50px black;
}
.card:hover .imgBx{
   width:350px;
   height: 360px;

}
.imgBx img{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.card .content{
   position: absolute;

width: 100%;
height: 100%;
display: flex;
justify-content: center;
align-items: flex-end;
overflow: hidden;
}
.card .content .details{
   padding: 20px;
   text-align: center;
   width: 100%;
   transition: .5px;
   transform:translateY(140px) ;
}
.card:hover .content .details{
transform:translateY(0);
}

.card .content .details h2{
   font-size: 1.25em;
   font-weight: 600;
   color: rgb(255, 255, 255);
   line-height: 1.2em;
}
.card .content .details .data{
   display: flex;
   justify-content: space-between;
   margin:20px 0;
}
/**card dans la section**/
section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
}
/* logo */
.logo {
    cursor: pointer;
}
.logo img{
height: 80px;
width: 90px;
}
.navbar li {
    display: inline-block;
    padding-right: 4rem;
}
.navbar li a {
  text-decoration: none;
    position: relative ;
    color: rgb(255, 255, 255);
    transition: all 0.3s ease .1s;
}.navbar li a:hover {
    color: hsla(195, 12%, 100%, 0.9);
}
/* NAV */
nav ul li a::before,
nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -8px;
    right: 0;
    left: auto;
    width: 0;
    height: 2px;
}
nav ul li a::before {
    background-color: #ffffff;
    transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s;
}
nav ul li a::after {
    background-color: #ff7b00;
    transition: all .25s cubic-bezier(.694, .048, .335, 1);
}
nav ul li a:hover::after,
nav ul li a:hover::before {
    width: 100%;
    left: 0;
}
/* bACKGROUND SI BESOIN AJOUT D'image oublie pas enlever le background black body*/
.bg {
    width: 100%;
    z-index: -1;
    filter: blur(0px);
  }
  /**boutton effect centre**/
 #section1{
  background-color: white;

 }
 
 .div1{
  background-image: url(../img/logofond.png);
  background-size: contain;
  background-repeat: no-repeat;

  height: 6vh;
 }
 .div2{

  background-image: url(../img/lessivelogo.png);
  background-size: contain;
  background-repeat: no-repeat;
 }
 

  #section1 p {
    color:black;
    width: 70%;
   background-color: rgb(255, 255, 255);
   
  }
  #section1 a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 2px solid #1c6172;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
  }
  #section1 a span{
    position: relative;
    z-index: 2;
  }
  #section1 a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #1c6172;
    transition: all .35s;
  }
  #section1 a:hover{
    color: #fff;
  }
  #section1 a:hover:after{
    width: 100%;
  }
  .square{
    background: url('../img/produits/1erpage2modif.png') no-repeat center center/cover;
    height: 286px;
    width: 478px;
    transition: transform 1s;
    -webkit-box-shadow: 0px 0px 8px 2px #000000; 
    box-shadow: 0px 0px 8px 2px #000000;
    
  }
  .square:hover{
  
    -moz-transform: rotate(10deg) skew(0deg, 1deg);
-webkit-transform: rotate(10deg) skew(0deg, 1deg);
-o-transform: rotate(1deg) skew(0deg, 1deg);
-ms-transform: rotate(1deg) skew(0deg, 1deg);
transform: rotate(1deg) skew(0deg, 1deg) scale(1.5);
   }

  /**section 2**/
 #section2{
    background-color: rgb(0, 0, 0);
  }
  
  #section2 h1{
    color:white;
  }
  .div5{
    background-image: url(../img/logofond.png);
    background-size: contain;
    background-repeat: no-repeat;

    height: 6vh;
   }
   .div6{
 
    background-image: url(../img/lessivelogo.png);
    background-size: contain;
    background-repeat: no-repeat;
   }
  #section2 h2{
   color: white;
   }
   #section2 p {
     color:rgb(255, 255, 255);
     width: 70%;
   }
   #section2 a{
     display: block;
     width: 200px;
     height: 40px;
     line-height: 40px;
     font-size: 18px;
     font-family: sans-serif;
     text-decoration: none;
     color: rgb(255, 255, 255);
     border: 2px solid #1c6172;
     letter-spacing: 2px;
     text-align: center;
     position: relative;
     transition: all .35s;
   }
   #section2 a span{
     position: relative;
     z-index: 2;
   }
   #section2 a:after{
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
     background: #1c6172;
     transition: all .35s;
   }
   #section2 a:hover{
     color: rgb(0, 0, 0);
   }
   #section2 a:hover:after{
     width: 100%;
   }
  .square1{
    background: url('../img/produits/2page1modif.png') no-repeat center center/cover;
    height: 286px;
    width: 478px;
    transition: transform 1s;
    -webkit-box-shadow: 0px 0px 8px 2px #ffffff; 
    box-shadow: 0px 0px 8px 2px #ffffff;
  }
  .square1:hover{
    -moz-transform: rotate(10deg) skew(0deg, 1deg);
    -webkit-transform: rotate(10deg) skew(0deg, 1deg);
    -o-transform: rotate(1deg) skew(0deg, 1deg);
    -ms-transform: rotate(1deg) skew(0deg, 1deg);
    transform: rotate(1deg) skew(0deg, 1deg) scale(1.5);
   }
.parent{
    color: rgb(0, 0, 0);
    width: 100%;
    display: flex;
text-align: center;
margin: 25px;
}
    /**section 2**/
    /**section 3**/
    #section3{
        background-color: white;
      }
       #section3 p {
         color:black;
         width: 70%;
       }
       .pin{
        color: black;
       }
       .div9{
        background-image: url(../img/logofond.png);
        background-size: contain;
        background-repeat: no-repeat;
     
        height: 6vh;
       }
       .div10{
  
        background-image: url(../img/lessivelogo.png);
  background-size: contain;
  background-repeat: no-repeat;
       }
    
       #section3 a{
         display: block;
         width: 200px;
         height: 40px;
         line-height: 40px;
         font-size: 18px;
         font-family: sans-serif;
         text-decoration: none;
         color: rgb(0, 0, 0);
         border: 2px solid #1c6172;
         letter-spacing: 2px;
         text-align: center;
         position: relative;
         transition: all .35s;
       }
       #section3 a span{
         position: relative;
         z-index: 2;
       }
       #section3 a:after{
         position: absolute;
         content: "";
         top: 0;
         left: 0;
         width: 0;
         height: 100%;
         background: #1c6172;
         transition: all .35s;
       }
       #section3 a:hover{
         color: #fff;
       }
       #section3 a:hover:after{
         width: 100%;
       }
       .square2{
         background: url('../img/produits/3page1moddif.png') no-repeat center center/cover;
         height: 286px;
         width: 478px;
         transition: transform 1s;
         -webkit-box-shadow: 0px 0px 8px 2px #000000; 
         box-shadow: 0px 0px 8px 2px #000000;
       }
       .square2:hover{
        -moz-transform: rotate(10deg) skew(0deg, 1deg);
        -webkit-transform: rotate(10deg) skew(0deg, 1deg);
        -o-transform: rotate(1deg) skew(0deg, 1deg);
        -ms-transform: rotate(1deg) skew(0deg, 1deg);
        transform: rotate(1deg) skew(0deg, 1deg) scale(1.5);
       }
       .parent2{
        color: rgb(0, 0, 0);
        width: 100%;
        display: flex;
    text-align: center;
    margin: 25px;
    }
           /**section 3**/
           /**section 4**/
           #section4{
            background-color: rgb(0, 0, 0);
          }
          #section4 h1{
            color:white;
          }
          #section4 h2{
            color: white;
            }
            .div13{
              background-image: url(../img/logofond.png);
              background-size: contain;
              background-repeat: no-repeat;
          
              height: 6vh;
             }
             .div14{
      
              background-image: url(../img/lessivelogo.png);
  background-size: contain;
  background-repeat: no-repeat;
             }
           #section4 p {
             color:rgb(255, 255, 255);
             width: 70%;
           }
           #section4 a{
             display: block;
             width: 200px;
             height: 40px;
             line-height: 40px;
             font-size: 18px;
             font-family: sans-serif;
             text-decoration: none;
             color: rgb(255, 255, 255);
             border: 2px solid #1c6172;
             letter-spacing: 2px;
             text-align: center;
             position: relative;
             transition: all .35s;
           }
           #section4 a span{
          
             position: relative;
             z-index: 2;
           }
           #section4 a:after{
             position: absolute;
             content: "";
             top: 0;
             left: 0;
             width: 0;
             height: 100%;
             background: #1c6172;
             transition: all .35s;
           }
           #section4 a:hover{
             color: rgb(0, 0, 0);
           }
           #section4 a:hover:after{
             width: 100%;
           }
           .square3{
             background: url('../img/produits/4page1modif.png') no-repeat center center/cover;
             height: 286px;
             width: 478px;
             transition: transform 1s;
             -webkit-box-shadow: 0px 0px 8px 2px #ffffff; 
             box-shadow: 0px 0px 8px 2px #ffffff;
           }
           .square3:hover{
            -moz-transform: rotate(10deg) skew(0deg, 1deg);
    -webkit-transform: rotate(10deg) skew(0deg, 1deg);
    -o-transform: rotate(1deg) skew(0deg, 1deg);
    -ms-transform: rotate(1deg) skew(0deg, 1deg);
    transform: rotate(1deg) skew(0deg, 1deg) scale(1.5);
           }
          
           .parent3{
            color: rgb(255, 255, 255);
            width: 100%;
            display: flex;
        text-align: center; 
        margin: 25px;
        }
 /**boutton effect centre**/
 /**section2 grid**/
.parent1{
    color: white;
    width: 100%;
    display: flex;
text-align: center;
margin: 25px;
}

.hidden {
    opacity: 0;
    transform: translateX(-250px);
}
.show{
    opacity: 1;
   transform: translateX(0);
   transition: 1s cubic-bezier(.5, 0 , 0, 1);
}
/**footer**/
.container {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }
  h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
  }
  .text-uppercase {
    text-transform: uppercase;
  }
  .text-white {
    color: #fff;
  }
  .text-center {
    text-align: center;
  }
  .mt-4 {
        margin: 0;
    margin-top: 1.5rem;
  }
  .bg-footer {
    background-color: #052E39;
    width: 100%;
    bottom: 0;
    border-top: 1px ridge white;
  }
  .footer-heading {
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
  }
  .footer-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    list-style: none;
  }
  .footer-link a {
    color: white;
    list-style-type: none;
  }
  .list-inline {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .contact-info {
    color: #acacac;
    font-size: 16px;
  }
  .footer-social-icon {
    font-size: 15px;
    height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
  }
  .facebook {
    transition: transform 1s ease 0s;
    background-color: #4e71a8;
    color: #ffffff;
  }
  .twitter {
    transition: transform 1s ease 0s;
    background-color: #55acee;
    color: #ffffff;
  }
  .instagram {
    transition: transform 1s ease 0s;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #ffffff;
  }
  .facebook:hover, .twitter:hover, .instagram:hover {
    transform: rotate(360deg);
  }
  .footer-alt {
    color: #ffffff;
  }
  .footer-heading {
    position: relative;
    padding-bottom: 12px;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  @media (max-width: 576px) {
    .container {
      max-width: 540px;
      width: 100%;
      padding-right: var(--bs-gutter-x, 0.75rem);
      padding-left: var(--bs-gutter-x, 0.75rem);
      margin-right: auto;
      margin-left: auto;
    }
    .navbar li a {
      font-size: 11px;
  }
  .navbar li  {
    padding-right: 9rem;
}
 
    
  }
  @media (max-width: 533px) {
 
    .square:hover{
      -moz-transform: rotate(10deg) skew(0deg, 1deg);
      -webkit-transform: rotate(10deg) skew(0deg, 1deg);
      -o-transform: rotate(1deg) skew(0deg, 1deg);
      -ms-transform: rotate(1deg) skew(0deg, 1deg);
      transform: rotate(1deg) skew(0deg, 1deg) scale(1.1);
       }
    .square1:hover{
      -moz-transform: rotate(10deg) skew(0deg, 1deg);
    -webkit-transform: rotate(10deg) skew(0deg, 1deg);
    -o-transform: rotate(1deg) skew(0deg, 1deg);
    -ms-transform: rotate(1deg) skew(0deg, 1deg);
    transform: rotate(1deg) skew(0deg, 1deg) scale(1.1);
       }
    .square2:hover{
      -moz-transform: rotate(10deg) skew(0deg, 1deg);
      -webkit-transform: rotate(10deg) skew(0deg, 1deg);
      -o-transform: rotate(1deg) skew(0deg, 1deg);
      -ms-transform: rotate(1deg) skew(0deg, 1deg);
      transform: rotate(1deg) skew(0deg, 1deg) scale(1.1);
       }
    .square3:hover{
      -moz-transform: rotate(10deg) skew(0deg, 1deg);
      -webkit-transform: rotate(10deg) skew(0deg, 1deg);
      -o-transform: rotate(1deg) skew(0deg, 1deg);
      -ms-transform: rotate(1deg) skew(0deg, 1deg);
      transform: rotate(1deg) skew(0deg, 1deg) scale(1.1);
       }
      
    
  }
 
  
  @media (min-width: 992px) {
    .container {
      max-width: 98%;
    }
  }
@media screen and (max-width: 800px){
    .logo img{
        height: 50px;
        width: 50px;
    
        padding: 0.7rem;
        }
}


/**SECTION GRID  section paGE 2**/
.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }
    .div3 { grid-area: 1 / 1 / 2 / 2; }
    .div4 { grid-area: 1 / 2 / 2 / 3; } 



    .parent1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .div5 { grid-area: 1 / 1 / 2 / 2; }
        .div6 { grid-area: 1 / 2 / 2 / 3; }
        .div7 { grid-area: 1 / 1 / 2 / 2; }
        .div8 { grid-area: 1 / 2 / 2 / 3; } 

    .parent2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .div9 { grid-area: 1 / 1 / 2 / 2; }
        .div10 { grid-area: 1 / 2 / 2 / 3; }
        .div11 { grid-area: 1 / 1 / 2 / 2; }
        .div12 { grid-area: 1 / 2 / 2 / 3; } 


    .parent3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        }
        .div13 { grid-area: 1 / 1 / 2 / 2; }
        .div14 { grid-area: 1 / 2 / 2 / 3; }
        .div15 { grid-area: 1 / 1 / 2 / 2; }
        .div16 { grid-area: 1 / 2 / 2 / 3; } 
     
        @media (max-width: 576px) {
          .bg-footer{
      font-size: 12px;
          }
          .square{
            height: 257px;
    width: 411px;
          }
          .square1{
            height: 257px;
    width: 411px;
          }
          .square2{
            height: 257px;
    width: 411px;
          }
          .square3{
            height: 257px;
    width: 411px;
          }
          .parent{
            display: block;
           }
          .parent1{
            display: block;
           }
          .parent2{
            display: block;
           }
          .parent3{
            display: block;
           }
           h6{
            font-size: 12px;
           }
          .container {
            max-width: 98%;
            width: 100%;
            padding-right: var(--bs-gutter-x, 0.75rem);
            padding-left: var(--bs-gutter-x, 0.75rem);
            margin-right: auto;
            margin-left: auto;
          }
      }
          @media (min-width: 992px){ 
              .container{
                  max-width:98%;
              }
              .contact-info {
                
                  font-size: 14px;
              }
             h6 {
              font-size: 0.7rem;
              }
             .footer-heading .text-uppercase .text-white{
              font-size: 0.7rem;
              letter-spacing: 1px;
             }
              
           }
           @media (max-width: 353px) {
            .div4 {
           
              display: flex;
              justify-content: right;
          }
          body{
            background-color:rgba(255, 255, 255, 0);
           }
          
           section{
            background-color: transparent;
           }
            .div8 {
           
              display: flex;
              justify-content: right;
          }
            .div12 {
           
              display: flex;
              justify-content: right;
          }
            .div16 {
           
              display: flex;
              justify-content: right;
          }
           }
           /**responsive body et des section couleur**/
         